@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font: inherit;
}

html {
   font-family: 'Open sans', 'sans-serif';
   color: #373a3c;
}

a {
   transition: 0.5;
}

/*---SIDEBAR---*/

#sideBar {
   position: fixed;
   height: 100%;
   width: 20vh;
   background-color: #006599;
   padding-top: 40px;
}

#sideBar h1 {
   color: #fff;
   font-size: 1.8rem;
   margin-top: 20px;
   margin-bottom: 30px;
   text-align: center;
}

#sideBar a {
   color: #fff;
   font-size: 1rem;
}

#sideBar a:hover {
   color: #f4ef5e;
   font-size: 1rem;
}

#sideBar li {
   padding: 20px;
}

.sideBar-container {
   display: flex;
   justify-content: center;
}

.logo-doceria {
   display: block;
   margin: auto;
   width: 6vh;
   height: 6vh;

}
/*------------------*/
/*---CONTEUDO---*/
.conteudo{
   position: absolute;
   left: 20vh;
   width: calc(100% - 20vh);
}
.conteudo h1, h2{
   color: #006599;
   margin-bottom: 30px;
}
.conteudo h1{
   font-size: 1.8rem;
}
.conteudo h2{
   font-size: 1.3rem;
}

section{
   padding-left: 3vh;
   padding-right: 2.5vh;
}

/*--- BEM VINDO ---*/

#sessao-bemVindo{
   padding-left: 0;
   padding-right: 0;
}
.sessao-bemVindo-content{
   padding-left: 3vh;
   padding-right: 2.5vh;
}

#sessao-bemVindo .banner{
   height: 45vh;
   background-image: url('../imagens/banner2.jpg');
   background-position: center;
   background-size: cover;
   box-shadow: +5px +5px +25px rgb(0, 0, 0,0.40);
}

#sessao-bemVindo h1{
   margin-top: 60px;
}

#sessao-bemVindo::after, #sessao-sobre::after{
   content: "";
   display: block;
   clear: both;
   margin-bottom: 6vh;
}

.sessao-miniBanner{
   width: 18vw;
   height: 36vh;
   background-image: url('../imagens/banner3.jpg');
   background-position: center;
   background-size: cover;
   float: left;
}

.sessao-descricao{
   display: block;
   padding-right: 30px;
}
.sessao-descricao p{
   line-height: 2;
   font-size: 16px;
   margin-bottom: 20px;
   margin-left: 22vw;
}

.sessao-bemVindo-btn {
  background-color: #006599;
  border: none;
  width: 15vh;
  padding: 1%;
  margin-left: 4vw;
  transition:ease 0.5s;
}
.sessao-bemVindo-btn a{
   color: #fff;
}
.sessao-bemVindo-btn:hover{
   background-color: rgb(0, 0, 0,0.40);
}

footer{
   text-align: center;
}