@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font: inherit;
}

html {
   font-family: 'Open sans', 'sans-serif';
   color: #373a3c;
}

a {
   transition: 0.5;
}

/*---SIDEBAR---*/

.sideBar {
   position: fixed;
   height: 100%;
   width: 20vh;
   background-color: #006599;
   padding-top: 40px;
}


.sideBar h1 {
   color: #fff;
   font-size: 1.8rem;
   margin-top: 20px;
   margin-bottom: 30px;
   text-align: center;
}

.sideBar a {
   color: #fff;
   font-size: 1rem;
}

.sideBar a:hover {
   color: #f4ef5e;
   font-size: 1rem;
}

.sideBar li {
   padding: 20px;
}

.sideBar-container {
   display: flex;
   justify-content: center;
}

.logo-doceria {
   display: block;
   margin: auto;
   width: 6vh;
   height: 6vh;

}

/*------------------*/
/*---CONTEUDO---*/
.conteudo {
   position: absolute;
   left: 20vh;
   width: calc(100% - 20vh);
}

.conteudo h1,
h2 {
   color: #006599;
   margin-bottom: 30px;
}

.conteudo h1 {
   font-size: 1.8rem;
}

.conteudo h2 {
   font-size: 1.3rem;
}

section {
   padding-left: 3vh;
   padding-right: 2.5vh;
}

/*--- BEM VINDO ---*/

#sessao-bemVindo {
   padding-left: 0;
   padding-right: 0;
}

.sessao-bemVindo-content {
   padding-left: 3vh;
   padding-right: 2.5vh;
}

#sessao-bemVindo .banner {
   height: 45vh;
   background-image: url('../imagens/banner2.jpg');
   background-position: center;
   background-size: cover;
   box-shadow: +5px +5px +25px rgb(0, 0, 0, 0.40);
}

#sessao-bemVindo h1 {
   margin-top: 60px;
}

#sessao-bemVindo::after,
#sessao-sobre::after {
   content: "";
   display: block;
   clear: both;
   margin-bottom: 6vh;
}

.sessao-miniBanner {
   width: 18vw;
   height: 36vh;
   background-image: url('../imagens/banner3.jpg');
   background-position: center;
   background-size: cover;
   float: left;
}

.sessao-descricao {
   display: block;
   padding-right: 30px;
}

.sessao-descricao p {
   line-height: 2;
   font-size: 16px;
   margin-bottom: 20px;
   margin-left: 22vw;
}

.sessao-bemVindo-btn {
   background-color: #006599;
   border: none;
   width: 15vh;
   padding: 1%;
   margin-left: 4vw;
   transition: ease 0.5s;
}

.sessao-bemVindo-btn a {
   color: #fff;
}

.sessao-bemVindo-btn:hover {
   background-color: rgb(0, 0, 0, 0.40);
}

/*---SESSAO SOBRE---*/

#sessao-sobre .sessao-miniBanner {
   float: right;
   background-image: url('../imagens/banner4.jpg');
   background-position: center;
   background-size: cover;
}


#sessao-sobre .sessao-descricao p {

   margin-left: -0vw;
}

/* galerias */

.banner-galeria {
   background-position: center;
   background-size: cover;
   display: inline-block;
   height: 200px;
}

#sessao-doces1,
#sessao-doces2,
#sessao-doces3 {
   flex-wrap: nowrap;
   padding-right: 50px;
   margin-bottom: 50px;
}

.doces1-imgs {
   width: 18.8%;
   margin-left: .5%;
   margin-right: .5%;
}

#img1 {
   background-image: url('../imagens/galeria1.jpg');
   margin-left: 0;
}

#img2 {
   background-image: url('../imagens/galeria2.jpg');
}

#img3 {
   background-image: url('../imagens/galeria3.jpg');
}

#img4 {
   background-image: url('../imagens/galeria4.jpg');
}

#img5 {
   background-image: url('../imagens/galeria5.jpg');
   margin-right: 0;
}

.doces2-imgs {
   width: 32.3%;
   margin-left: .5%;
   margin-right: .5%;
}

#img6 {
   background-image: url('../imagens/galeria6.jpg');
   margin-left: 0;
}

#img7 {
   background-image: url('../imagens/galeria7.jpg');
}

#img8 {
   background-image: url('../imagens/galeria8.jpg');
   margin-right: 0;
}

.doces3-imgs {
   width: 23.9%;
   margin-left: .5%;
   margin-right: .5%;
}

#img9 {
   background-image: url('../imagens/galeria9.jpg');
   margin-left: 0;
}

#img10 {
   background-image: url('../imagens/galeria10.jpg');
}

#img11 {
   background-image: url('../imagens/galeria11.jpg');
}

#img12 {
   background-image: url('../imagens/galeria12.jpg');
   margin-right: 0;
}

.banner-galeria:hover {
   transition: 0.5s;
   margin-bottom: 1rem;
}

/*---CONTATO---*/
#sessao-contato {
   display: flex;
   padding: 10vh;
   box-shadow: 0px 5px 0x rgb(0, 0, 0, 0.15);
   justify-content: center;
}


footer {
   text-align: center;
}


/*---Estilizção do menu mobile*/

.btn-menu {
   /* background-color: red; */
   width: 2rem;
   height: 2rem;
   position: fixed;
   z-index: 100;
   right: 2rem;
   top: 3rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   cursor: pointer;
   transition: all 1s;
}

.btn-menuON{
   width: 2rem;
   height: 2rem;
   position: fixed;
   z-index: 100;
   left: 3vh;
   top: 3rem;
   cursor: pointer;
   transition: all 1s;
}

.line {
   width: 100%;
   background-color: white;
   height: .1rem;
   box-shadow: 0.1rem 0.1rem 1px black;
   transition: transform 1s;
}

.sideBar-show #line1 {
   background-color: red;
   box-shadow: none;
   transform: rotate(45deg) translate(.3rem, .99rem);

}

.sideBar-show #line2 {
   opacity: 0;
   visibility: hidden;
}

.sideBar-show #line3 {
   background-color: red;
   transform: rotate(-45deg) translate(.3rem, -.99rem);
   box-shadow: none;
}


/*---Mobile--*/
@media(max-width: 700px) {
   .sideBar-active {
      display: flex;
      margin-left: -55rem;
      transition: ease 0.5s;
   }

   .sideBar-show {
      transition: ease 0.5s;
   }

   .sideBar {
      align-items: center;
      width: 100%;
      z-index: 1;
      justify-content: center;

   }

   .btn-menuON #line1 {
      background-color: red;
      box-shadow: none;
      transform: rotate(45deg) translate(.3rem, .99rem);
  
  }
  
  .btn-menuON #line2 {
      opacity: 0;
      visibility: hidden;
  }
  
  .btn-menuON #line3 {
      background-color: red;
      margin-top: 25px;
      transform: rotate(-45deg) translate(.3rem, -.99rem);
      box-shadow: none;
  }
  


   .btn-menu {
      display: flex;
      left: 3vh;
   }

   .conteudo {
      left: 0;
      width: calc(100vw);
   }

}